
@media only screen and (max-width:1140px){
    .leftNav{
        flex-direction: column;
    }

    .logo img{
      display: none; 
    }

    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 447px;
    }

    .rightNav{
        text-align: center;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }



    #search{
        width: 100%;
    }

    .burger{
        display: block;
    }    

    .h-nav-resp{
        height: 72px;
    }

    .v-class-resp{
        opacity: 0;
    }

    .section{
        flex-direction: column-reverse;
    }

    .text-small{
        text-align: center;
    }

    .text-big{
        text-align: center;
    }

    .buttons{
        text-align: center;
    }
    
    .paras{
        padding: 0px;
    }

    .btn-dark{
        width: 80px;
        margin: 4px 190px;
        align-items: center;
        justify-content: center;
    }

    .form input{
        margin: 9px 83px;
        padding: 4px 3px;
        width: 58%;
        font-size: 13px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .contact{
        height: 275px;
        margin: 20px 0px;
    }

    .text-center{
        padding: 0px;
    }

    .form{
        max-width: 477px;
        margin: 30px auto;
    }

    .footer{
        padding: 9px;
        border-radius: 0px;
        font-size: 13px;
    }
}